body {
  background-color: #E8F9FD;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 99%;
}

h1 {
  color: #001D6E;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  color: #001D6E;
  text-align: center;
}

p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}
